.mySwiper .swiper-pagination-bullet {
  background-color: #e4e2d1;
  width: 8px;
  height: 6px;
  border-radius: 8px;
}
.mySwiper .swiper-pagination-bullet-active {
  background-color: #efffe2;
  width: 12px;
  height: 6px;
  border-radius: 8px;
}

.white-bg {
  background-color: rgba(255, 255, 255, 0.5);
}
